@model LearnWord.Models.WordModels

@{
    ViewBag.Title = "Add";
}

<h2>Add New Word</h2>

@using (Html.BeginForm("Add", "Word"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Word)
        @Html.TextBoxFor(m => m.Word, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Meaning)
        @Html.TextBoxFor(m => m.Meaning, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Synonyms)
        @Html.TextAreaFor(m => m.Synonyms, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sentences)
        @Html.TextAreaFor(m => m.Sentences, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

